@using Microsoft.Extensions.Options
@using PropagatingKindness.Configuration
@model PropagatingKindness.Models.Account.EditPasswordViewModel
@inject IOptions<ReCaptchaConfiguration> ReCaptcha

<div class="container mt-5 w-50">
    @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
    {
        <h2 style="color:crimson"> ⚠️ @Model.ErrorMessage </h2>
    }
    <h2>Change Password</h2>
    <form class="row g-3" asp-action="EditPassword" asp-controller="Account" method="post" enctype="multipart/form-data">
        <!-- Current Password -->
        <div class="mb-3">
            <label asp-for="CurrentPassword" for="CurrentPassword" class="form-label">Current Password</label>
            <div class="input-group">
                <input asp-for="CurrentPassword" type="password" name="CurrentPassword" class="form-control" id="CurrentPassword" required>
                <button type="button" class="btn btn-outline-secondary border-0 passwd-toggle" passwd-field="CurrentPassword" id="togglePassword1" aria-label="Toggle password visibility">
                    <i class="bi bi-eye-slash-fill"></i>
                </button>
            </div>
            
        </div>

        <!-- New Password-->
        <div class="mb-3">
            <label asp-for="NewPassword" for="NewPassword" class="form-label">New Password</label>
            <div class="input-group">
                <input asp-for="NewPassword" type="password" name="NewPassword" class="form-control" id="NewPassword" required>
                <button type="button" class="btn btn-outline-secondary border-0 passwd-toggle" passwd-field="NewPassword" id="togglePassword2" aria-label="Toggle password visibility">
                    <i class="bi bi-eye-slash-fill"></i>
                </button>
            </div>
        </div>

        <!-- Repeat Password -->
        <div class="mb-3">
            <label asp-for="RepeatPassword" for="RepeatPassword" class="form-label">Repeat New Password</label>
            <div class="input-group">
                <input asp-for="RepeatPassword" type="password" name="RepeatPassword" class="form-control" id="RepeatPassword" required>
                <button type="button" class="btn btn-outline-secondary border-0 passwd-toggle" passwd-field="RepeatPassword" id="togglePassword3" aria-label="Toggle password visibility">
                    <i class="bi bi-eye-slash-fill"></i>
                </button>
            </div>
        </div>
        

        <div class="col-12">
            <div class="g-recaptcha" data-sitekey="@ReCaptcha.Value.SiteKey"></div>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>
