<div class="row chat-container mt-5">
    <!-- Left Sidebar: Chat Sessions -->
    <div class="col-md-4 chat-sessions bg-light">
        <h5 class="p-3 border-bottom">Chats</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Chat with Alice</li>
            <li class="list-group-item">Chat with Bob</li>
            <li class="list-group-item">Chat with Charlie</li>
            <li class="list-group-item">Chat with Dave</li>
        </ul>
    </div>
    <!-- Right Panel: Chat Window -->
    <div class="col-md-8 chat-window">
        <div class="chat-header">
            <img src="https://propagatekindnessimgs.blob.core.windows.net/adverts/09b2ac5ce17148f089f93cbb611e7821.jpg" alt="Header Image">
            <h5 class="mb-0">Chat with Alice</h5>
        </div>
        <!-- Chat Messages -->
        <div class="chat-messages">
            <div class="chat-message sent">
                <div class="chat-bubble sent">Hi Alice, how are you?</div>
                <img src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="User Avatar" class="avatar">
            </div>
            <div class="chat-message received">
                <img src="https://propagatekindnessimgs.blob.core.windows.net/users/036a450fa44b4526a64b6065bd4a9686.jpg" alt="User Avatar" class="avatar">
                <div class="chat-bubble received">I'm good! How about you?</div>
            </div>
            <div class="chat-message sent">
                <div class="chat-bubble sent">Doing great, thanks!</div>
                <img src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="User Avatar" class="avatar">
            </div>
        </div>
        <!-- Input Area -->
        <div class="chat-input d-flex">
            <input type="text" class="form-control me-2" placeholder="Type a message...">
            <button class="btn btn-primary">Send</button>
        </div>
    </div>
</div>