@using PropagatingKindness.Models.Chat
@model MyConversationsViewModel

<div class="row chat-container mt-5">
    @if (!Model.Conversations.Any())
    {
        <h2>You don't have any conversation yet</h2>
        <h5>Click on "Send Message" on an advert to start chatting with someone.</h5>
    }
    else
    {
    <!-- Left Sidebar: Chat Sessions -->
    <div class="col-md-4 chat-sessions bg-light">
        <h5 class="p-3 border-bottom">Chats</h5>
        <ul class="list-group list-group-flush">
            @foreach (var conversation in Model.Conversations)
            { 
                <li class="list-group-item chat-conversation" chat-id="@conversation.Id">Chat with @conversation.UserName</li>
            }
           
        </ul>
    </div>
    <!-- Right Panel: Chat Window -->
    <div class="col-md-8 chat-window">
        <div class="chat-header" id="chat-header">
            @* <img src="https://propagatekindnessimgs.blob.core.windows.net/adverts/09b2ac5ce17148f089f93cbb611e7821.jpg" alt="Header Image">
            <h5 class="mb-0">Mais um teste</h5> *@
        </div>
        <!-- Chat Messages -->
        <div class="chat-messages" id="chat-messages">
            @* <div class="chat-message sent">
                <div class="chat-bubble sent">
                    Hi Alice, how are you?
                    <i class="bi bi-eye-fill bubble-icon chat-bubble-status-sent"></i>
                </div>
                <img src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="User Avatar" class="avatar">
            </div>
            <div class="chat-message received">
                <img src="https://propagatekindnessimgs.blob.core.windows.net/users/036a450fa44b4526a64b6065bd4a9686.jpg" alt="User Avatar" class="avatar">
                <div class="chat-bubble received">
                    I'm good! How about you?
                    <i class="bi bi-eye-fill bubble-icon chat-bubble-status-received"></i>
                </div>
            </div>
            <div class="chat-message sent">
                <div class="chat-bubble sent">
                    Doing great, thanks!
                    <i class="bi bi-eye-fill bubble-icon chat-bubble-status-sent"></i>
                </div>
                <img src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="User Avatar" class="avatar">
            </div> *@
        </div>
        <!-- Input Area -->
        <div class="chat-input d-flex">
            <input type="text" autocomplete="off" class="form-control me-2" placeholder="Type a message..." id="message-input">
            <button class="btn btn-primary" onclick="sendMessage" id="button-send">Send</button>
        </div>
    </div>
    }
</div>

<script src="/js/chat.js"></script>
