body {
    color: rgba(1, 36, 1, 0.801);
    font-family: "Quicksand", sans-serif;
    background-color: rgba(173, 216, 237, 0.236);
}

.header, .footer {
    background-color: #4c8a7384;
    border: 1px solid #dee2e6;
    height: auto;
}

.header {
    padding: 0.3rem !important;
}

.aside {
    width: 80%;
}

.main-content {
    height: auto;
    margin-top: 10px;
    border: none;
    width: 80%;
}

.carousel-section {
    position: relative;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 1px;
}

.card-title {
    font-size: 1.5rem;
    color: #2E8B57;
}

.card-text {
    font-size: 1rem;
    color: rgba(1, 36, 1, 0.801);
}

.btn-primary {
    background-color: #06ae71;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .btn-primary:hover {
        background-color: #06f69e;
    }

.cardMain {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(131, 186, 254, 0.202);
}

img.cardMain {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 200px;
}

.cardMain-body {
    padding: 1.5rem;
}

.cardMain:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardMain-title {
    font-size: 1.5rem;
    color: #2E8B57;
}

.cardMain-text {
    font-size: 1.05rem;
}

.cardMainSecond {
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(16, 76, 13, 0.37);
    margin-top: 10px;
}

img.cardMainSecond {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 200px;
}

.cardMainSecond-body {
    padding: 1rem;
}

.cardMainSecond-title {
    font-size: 1.5rem;
    color: #2E8B57;
}

.cardMainSecond-text {
    font-size: 1.05rem;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 2;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.borderless-btn {
    border: none;
    color: white;
    font-weight: 750;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
}

    .dropdown-menu a{
        padding: 5px;
        text-decoration: none;
    }

        .dropdown-menu a:hover{
            color: #06ae71;
            background-color: white;
        }

#curiosities,
#reviews,
#sustainability {
    color: #8B4513;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

h2 > a {
    color: rgba(1, 36, 1, 0.801);
}

    h2 > a:hover {
        color: rgba(1, 36, 1, 0.801);
        text-decoration: none;
    }

.footer {
    margin-top: 20px;
    height: auto;
    background-color: #4c8a7345;
    font-weight: 600;
}

.user-dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    right: 0; /* Align to the right */
    top: 100%; /* Position below the icon */
    z-index: 1000;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.user-dropdown-menu.show {
    display: block; /* Show when active */
}

.advert-card-image-container {
    overflow: hidden;
}

.advert-card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}