@using Microsoft.Extensions.Options
@using PropagatingKindness.Configuration
@model PropagatingKindness.Models.Advert.DisplayAdvertViewModel

<div class="container mt-5">
    <h1 class="text-center">My Adverts</h1>
    <div class="row mt-4">

        @foreach (var advert in Model.Adverts)
        {
            <!-- Advert Card -->
            <div class="col-md-3 mb-4">
                <div class="cardAdvert">
                    <div class="advert-card-image-container position-relative ratio ratio-1x1">
                        <a asp-action="DisplayAdvert" asp-controller="Advert">
                            <img src="@advert.Photo" class="img-fluid" alt="Advert Photo" id="imgAdvert">
                        </a>

                        @if (advert.Status == 0)
                        {
                            <div class="advert-card-ribbon bg-warning bg-gradient">
                                <span>Reviewing</span>
                            </div>
                        }

                        @if (advert.Status == 1)
                        {
                            <div class="advert-card-ribbon bg-primary bg-gradient">
                                <span>Available</span>
                            </div>
                        }

                        @if (advert.Status == 2)
                        {
                            <div class="advert-card-ribbon bg-purple bg-gradient">
                                <span>Promissed</span>
                            </div>
                        }

                        @if (advert.Status == 3)
                        {
                            <div class="advert-card-ribbon bg-success bg-gradient">
                                <span>Donated</span>
                            </div>
                        }

                        
                        <div>
                            @if (advert.Status == 1)
                            {
                                <button class="btn btn-primary rounded-circle edit-button advert-card-edit-button m-1">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button class="btn btn-danger rounded-circle edit-button advert-card-delete-button m-1">
                                    <i class="bi bi-file-excel"></i>
                                </button>
                            }
                        </div>
                    </div>
                    <div class="card-body-advert">
                        <h5 class="card-title-advert">@advert.Name</h5>
                    </div>
                    <div class="text-center">
                        @if (advert.Status == 0)
                        {
                            <button class="btn btn-danger status-btn m-1 btn-sm" data-status="AwaitingApproval" disabled>Awaiting Approval</button>
                        }
                        @if (advert.Status == 1)
                        {
                            <button class="btn btn-warning status-btn m-1 btn-sm text-white" data-status="Promissed">Promissed</button>
                            <button class="btn btn-info status-btn m-1 btn-sm text-white" data-status="Donated">Donated</button>
                        }
                        @if (advert.Status == 2)
                        {
                            <button class="btn btn-primary status-btn m-1 btn-sm" data-status="Available">Available</button>
                            <button class="btn btn-info status-btn m-1 btn-sm text-white" data-status="Donated">Donated</button>
                        }
                        @if (advert.Status == 3)
                        {
                            <button class="btn btn-secondary status-btn m-1 btn-sm" data-status="Unavailable" disabled>Unavailable</button>
                        }
                        @if (advert.Status == 4)
                        {
                            <button class="btn btn-primary status-btn m-1 btn-sm" data-status="Available">Available</button>
                        }
                    </div>

                </div>
                
            </div>
        }
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>
