@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <h1 class="text-center mb-4">Giving away a plant, seeds or garden tools?</h1>
    <p>Some text here</p>
    <a asp-area="" asp-controller="Advert" asp-action="Donation" class="btn btn-primary btn-sm" aria-current="true">
        <i class="bi bi-plus-circle me-2"></i>Create Advert
    </a>
</div>
